footer
  p 'How is Earth feeling?' created by 
    a(href="http://twitter.com/benderham88" target="_blank") @benderham88
    | , 
    a(href="http://twitter.com/candrawes" target="_blank") @candrawes
    |  &amp; 
    a(href="http://twitter.com/mephysto" target="_blank") @mephysto
    |  for NASA Space Apps Challenge 2016.