section#news.container.news
  p.content__lead Praesent eleifend felis vel hendrerit varius.
  div.content
    h1.visually-hidden News
    div.layout
      div.layout__item.layout__item--half
        script(type='text/javascript', src='//www.google.com.au/trends/embed.js?hl=en-US&q=Climate+Change,+Global+Warming,+Environment&date=1/2016+12m&gprop=news&cmpt=q&tz=Etc/GMT-8&tz=Etc/GMT-8&content=1&cid=TIMESERIES_GRAPH_0&export=5&w=570&h=350')

      div.layout__item.layout__item--half
        script(type='text/javascript', src='//www.google.com.au/trends/embed.js?hl=en-US&q=Climate+Change,+Global+Warming,+Environment&date=1/2016+12m&gprop=news&cmpt=q&tz=Etc/GMT-8&tz=Etc/GMT-8&content=1&cid=TIMESERIES_GRAPH_0&export=5&w=570&h=350')

      div.layout__item.layout__item--full
        
        
