section#help.container.help
  .content__lead
    .content
      div.earth-emoticon--container
        div.earth-emoticon--animation.earth-emoticon--happy
      p Can you help us turn that frown upside down?
  div.content 
    div.layout
      div.layout__item.layout__item--two-thirds
        p There are lots of ways that you can help to improve the emotion of any one of these sections, and ultimately improve the mood of the whole planet.
        p Find out what important climate research you can share on social media, or ways you can reduce Carbon emissions here
        a(href="" class="btn") Find out more
      div.layout__item.layout__item--third
        img(src="images/dogood2.png")