section#news.container.news
  .content__lead
    .content
      div.earth-emoticon--container
        div.earth-emoticon--animation.earth-emoticon--worried
      p News Trends
        img(src="../images/on-switch.png").switch
  div.content
    h1.visually-hidden News Trends
    div.layout
      div.layout__item.layout__item--full.intro-text
        p Here we analyse what news outlets around the world are reporting on. This could include news outlets covering major global issues like Global Warming, carbon emissions taxation, or political news about major decisions that could effect Earth.
      div.layout__item.layout__item--full
        div.card
          h2.card__heading Trends A
          div.card__content
            script(type='text/javascript', src='//www.google.com.au/trends/embed.js?hl=en-US&q=Climate+Change,+Global+Warming,+Environment&date=1/2016+12m&gprop=news&cmpt=q&tz=Etc/GMT-8&tz=Etc/GMT-8&content=1&cid=TIMESERIES_GRAPH_0&export=5&w=920&h=350')
      div.layout__item.layout__item--half
        div.card
          h2.card__heading Trends B
          div.card__content
            script(type='text/javascript', src='//www.google.com.au/trends/embed.js?hl=en-US&q=Climate+Change,+Global+Warming,+Environment&date=1/2016+12m&gprop=news&cmpt=q&tz=Etc/GMT-8&tz=Etc/GMT-8&content=1&cid=TIMESERIES_GRAPH_0&export=5&w=420&h=350')
      div.layout__item.layout__item--half
        div.card
          h2.card__heading Trends C
          div.card__content
            script(type='text/javascript', src='//www.google.com.au/trends/embed.js?hl=en-US&q=Climate+Change,+Global+Warming,+Environment&date=1/2016+12m&gprop=news&cmpt=q&tz=Etc/GMT-8&tz=Etc/GMT-8&content=1&cid=TIMESERIES_GRAPH_0&export=5&w=420&h=350')