section#overview.container.overview.overview--worried
  div.content
    h1.overview__heading.visually-hidden Earth Overview
    div.layout
            
      div.layout__item.layout__item--full
        p.earth-status__text The Earth is feeling:
        div.earth-emoticon--container
          .earth-emoticon--explanation
              p Earth’s overall mood
          div.earth-emoticon--animation.earth-emoticon--worried
          .earth-emoticon--explanation
              p Have a listen:
              img(src="../images/spotify.jpg")
          //- div.earth-emoticon--animation.earth-emoticon--happy.earth-emoticon--hands
          //- div.earth-emoticon--animation.earth-emoticon--sick.earth-emoticon--hands
          //- div.earth-emoticon--animation.earth-emoticon--worried.earth-emoticon--hands
          //- div.earth-emoticon--animation.earth-emoticon--shocked.earth-emoticon--hands
      div.layout__item.layout__item--third
        .country-selection
          span.input.input--makiko
            input.input__field.input__field--makiko#input-16(type="text",placeholder=" ")
            label.input__label.input__label--makiko(for="input-16")
              span.input__label-content.input__label-content--makiko Search Country
      div.layout__item.layout__item--third
        div.earth-status
            a(href="#nasa" class="btn btn--why earth-status__btn") Find Out Why
      div.layout__item.layout__item--third
        a(href="" class="btn btn--spotify") Play Mood Soundtrack
