section#overview.container.overview
  div.content
    h1.overview__heading Earth Overview
    div.layout
      div.layout__item.layout__item--third
        .country-selection
          p Search (Country)
          span.input.input--makiko
            input.input__field.input__field--makiko#input-16(type="text",placeholder=" ")
            label.input__label.input__label--makiko(for="input-16")
              span.input__label-content.input__label-content--makiko Search
      div.layout__item.layout__item--third

        div.earth-emoticon--container
          //- div.earth-emoticon--animation.earth-emoticon--angry
          //- div.earth-emoticon--animation.earth-emoticon--happy
          //- div.earth-emoticon--animation.earth-emoticon--sick
          //- div.earth-emoticon--animation.earth-emoticon--worried
          div.earth-emoticon--animation.earth-emoticon--shocked

      div.layout__item.layout__item--third
        .spotify__playlist(style="background-image:url(https://i.scdn.co/image/4f3db4c2ed4a90022edab5fd4bf8ca82c3e62b24)")
          .spotify__playlist-embed
            <iframe src="https://embed.spotify.com/?uri=spotify:user:spotify:playlist:7MPXsjQGsXcLdNz7UxVuVl" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
      div.layout__item.layout__item--full.earth-status
        p.earth-status__text Earth's emotional status
        a(href="#nasa" class="btn earth-status__btn") Find Out Why
