section#nasa.container.nasa
  .content__lead
    .content
      div.earth-emoticon--container
        div.earth-emoticon--animation.earth-emoticon--worried
      p NASA Data
        img(src="images/on-switch.png").switch
  div.content
    h1.visually-hidden NASA Data
    div.layout        
      div.layout__item.layout__item--half
        div.card
          h2.card__heading Rainfall This Month
          canvas(id="rainfall-data" class="chart")
          
          div.card__emoticon
          div.card__content
            h3 ClimateSERV
            p ClimateSERV allows scientists and government decision-makers to visualise rainfall data, the condition of global plant life, along with 180-day forecasts of rainfall and temperature.
            a(class="btn btn--small" href="") Find out more about ClimateSERV

      div.layout__item.layout__item--half
        div.card
          h2.card__heading Temperature This Month
          canvas(id="temp-data" class="chart")
          
          div.card__emoticon
          div.card__content
            h3 Global Imagery Browse Services
            p This system shows historical and real-time daily global imagery taken from space. The service provides colour pictures and climate data that includes Sea Surface Temperature, Sea Ice Concentration and many other useful data points.
            a(class="btn btn--small" href="") Find out more about GIBS
     
      div.layout__item.layout__item--full
        div.card
          h2.card__heading Current Natural Disasters
          div.card__content.disaster-map
            iframe(src="http://hisz.rsoe.hu/alertmap/index2.php" width="640" height="480").layout__iframe--full
          div.card__emoticon
          div.card__content
            h3 
              | NASA’s EONET
              br 
              | (Earth Observatory Natural Event Tracker)
            p EONET is a repository of metadata about natural events. The service lists natural event data in real time. By analysing this data NASA can action early warning systems and track natural disasters over time. Less natural disasters is better for life on Earth.
            a(class="btn btn--small" href="") Find out more about EONET