section#overview.container.overview
  div.content
    h1.overview__heading Earth Overview
    div.layout
      div.layout__item.layout__item--third
        p Search (Country)
      div.layout__item.layout__item--third
        p Earth Emoticon
        div.earth-emoticon--animation
      div.layout__item.layout__item--third
        p Spotify Playlist
        img(src="https://i.scdn.co/image/4f3db4c2ed4a90022edab5fd4bf8ca82c3e62b24")
      div.layout__item.layout__item--full.earth-status
        p.earth-status__text Earth's emotional status
        a(href="#nasa" class="btn") Find out why