section#social.container.social-media
  .content__lead
    .content
      div.earth-emoticon--container
        div.earth-emoticon--animation.earth-emoticon--shocked
      p Are we talking enough about it?
  .content
    h1.visually-hidden Social Media
    div.layout
      div.layout__item.layout__item--third
        h2 Twitter
        <a class="twitter-timeline"  href="https://twitter.com/search?q=%23globalwarming%20OR%20%23climatechange%20OR%20%23earthlive%20OR%20%23climate%20or%20%23environment" data-widget-id="723797963131097088">Tweets about #globalwarming OR #climatechange OR #earthlive OR #climate or #environment</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      div.layout__item.layout__item--two-thirds
        h2 Instagram
        <script src="http://snapwidget.com/js/snapwidget.js"></script>
        <iframe src="http://snapwidget.com/in/?h=Y2xpbWF0ZWNoYW5nZXxpbnwxNjB8NXw0fHxub3w1fG5vbmV8b25TdGFydHxub3x5ZXM=&ve=230416" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>