section#social.container.social-media
  div.content
    h1 Social Media
    div.layout
      div.layout__item.layout__item--two-thirds
        p Social Media
      div.layout__item.layout__item--third
        p Social Media Emoticon