section#overview.container.overview
  div.content
    h1.overview__heading Earth Overview
    div.layout
      div.layout__item.layout__item--third
        p Search (Country)
      div.layout__item.layout__item--third
        div.earth-emoticon--animation
        p Earth Emoticon
      div.layout__item.layout__item--third
        p Spotify Playlist
        img(src="https://i.scdn.co/image/4f3db4c2ed4a90022edab5fd4bf8ca82c3e62b24")
        <iframe src="https://embed.spotify.com/?uri=spotify:user:spotify:playlist:7MPXsjQGsXcLdNz7UxVuVl" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
      div.layout__item.layout__item--full
        p Earth's emotional status