section#news.container.news
  div.content
    h1 News
    p.content__lead Praesent eleifend felis vel hendrerit varius. Vestibulum porttitor tortor non scelerisque rutrum. Donec ornare tristique mauris sit amet luctus. Integer semper velit tellus, pharetra cursus lacus tincidunt id. Duis eget fermentum quam. Sed vitae tincidunt dui, id posuere ante.
    div.layout
      div.layout__item.layout__item--half
        script(type='text/javascript', src='//www.google.com.au/trends/embed.js?hl=en-US&q=Climate+Change,+Global+Warming,+Environment&date=1/2016+12m&gprop=news&cmpt=q&tz=Etc/GMT-8&tz=Etc/GMT-8&content=1&cid=TIMESERIES_GRAPH_0&export=5&w=570&h=350')

      div.layout__item.layout__item--half
        script(type='text/javascript', src='//www.google.com.au/trends/embed.js?hl=en-US&q=Climate+Change,+Global+Warming,+Environment&date=1/2016+12m&gprop=news&cmpt=q&tz=Etc/GMT-8&tz=Etc/GMT-8&content=1&cid=TIMESERIES_GRAPH_0&export=5&w=570&h=350')

      div.layout__item.layout__item--full
        
        
