section#nasa.container.nasa
  div.content
    h1 NASA Data
    div.layout
      div.layout__item.layout__item--two-thirds
        h2 Average Rainfall
        canvas(id="rainfall-data" class="chart")
      div.layout__item.layout__item--third
        p Rainfall Emoticon
      div.layout__item.layout__item--two-thirds
        p Temperature
      div.layout__item.layout__item--third
        p Temperature Emoticon
      div.layout__item.layout__item--two-thirds
        p Natural Disaster Alert/Status
      div.layout__item.layout__item--third
        p Natural Disasters Alert Emoticon