section#help.container.help
  .content__lead
    .content
      div.earth-emoticon--container
        div.earth-emoticon--animation.earth-emoticon--happy
      p Praesent eleifend felis vel hendrerit varius.
  
  div.content 
    div.layout
      div.layout__item.layout__item--two-thirds
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus, leo eget consectetur mattis, velit eros sodales ipsum, eget pulvinar orci nulla nec est. Nulla cursus convallis sollicitudin. Phasellus accumsan tempor eros vitae rhoncus. Duis rutrum, augue in varius tempor, nulla diam porttitor orci, sit amet gravida magna dui id ex. Aliquam et posuere lectus, ultrices fermentum purus. Sed at ornare est. Vestibulum interdum facilisis tortor, non bibendum diam ultricies sit amet. Nunc vitae urna purus. Vestibulum feugiat egestas dictum. Donec efficitur urna quis arcu pharetra semper. Nullam sit amet vulputate turpis. Curabitur placerat ac erat a ullamcorper. Praesent at nisi at massa rhoncus cursus in nec lacus.
        a(href="" class="btn") Learn More


          
      div.layout__item.layout__item--third
        