section#overview.container.overview.overview--angry
  div.content
    h1.overview__heading.visually-hidden Earth Overview
    div.layout
      div.layout__item.layout__item--full.earth-tagline
        h2 The Earth is not feeling so well
      div.layout__item.layout__item--third
        .country-selection
          p Search (Country)
          span.input.input--makiko
            input.input__field.input__field--makiko#input-16(type="text",placeholder=" ")
            label.input__label.input__label--makiko(for="input-16")
              span.input__label-content.input__label-content--makiko Search
      div.layout__item.layout__item--third
        div.earth-emoticon--container
          //- div.earth-emoticon--animation.earth-emoticon--angry
          //- div.earth-emoticon--animation.earth-emoticon--happy
          //- div.earth-emoticon--animation.earth-emoticon--sick
          div.earth-emoticon--animation.earth-emoticon--worried
          //- div.earth-emoticon--animation.earth-emoticon--shocked
          p.earth-emoticon--explanation Based on Live charts, Social Media, and Current Natural disaster the Earth is not feeling so well.

      div.layout__item.layout__item--third.spotify
        h2 Earth's Current Playlist
        p Nulla arcu sem, rutrum nec dapibus ac, imperdiet id tellus.
        a(href="" class="btn btn--spotify") Listen Now
      div.layout__item.layout__item--full.earth-status
        p.earth-status__text 
        a(href="#nasa" class="btn earth-status__btn") Find Out Why
