.overview {
  background: $primary-color;
  padding-top: 60px;
  .layout__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    align-items: center;
  }
  .layout__item--third{
    height: 65vh;
    margin-bottom: 10px;
  }
  .layout__item--full{
    height: 15vh;
    margin-top: 10px;
  }
}

.overview__heading {
  text-align: center;
}

.spotify__playlist{
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
.spotify__image{
  opacity: 1;
  transition: opacity 250ms ease-out;
  position: relative;
  z-index: 200;
  &:hover{
    opacity: 0;
  }
}
.spotify__playlist-embed {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}