.earth-emoticon--container{
  overflow: hidden;
  width: 500px;
  position: relative;

  &.stick{
    position: fixed;
    z-index: 10010;
    top: 10px;
    right: 10px;
    margin-top: 40px!important;
    width: 400px;
    transform: scale(0.5);
    transform-origin: 100% 00%;
    background-color: $white;
    background: rgba($primary-text-color,0.5);
    border-radius: 4px;
    @include mdShadowLevel(1);
    .earth-emoticon--animation{
      animation: none;
      margin-left: -50px;
      margin-top: -120px;
      height: 625px;
    }
    .earth-emoticon--explanation{
      display: block;
      padding-left: 15px;
      padding-right: 15px;
      text-align: center;
      color: $white;

      position: absolute;
      left: 0;
      text-align: center;
      width: 370px;
      top: 0;
      p{
        margin-top: 0;
        margin-bottom: 0;
      }
      img{
        max-width: 100%;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 10px;
      }
      &:first-child{
        p{
          font-size: 2.25em;
          margin-top: 15px;
        }
      }
      ~ .earth-emoticon--explanation{
        top: auto;
        bottom: 0;
        p{
          font-size: 1.5em;
        }
      }
    }
    &:after{
      content: none;
    }
  }
  &:after{
    content: "";
    background: rgba(0, 0, 0, 0.33);
    width: 150px;
    height: 20px;
    display: block;
    position: absolute;
    bottom: 11px;
    left: 50%;
    transform: translate(-50%,0);
    border-radius: 50%;
    filter: blur(2px);
  }
  .content__lead &{
    margin: 0;
    margin-top: -60px;
    margin-left: -40px;
    transform: scale(0.4);
    transform-origin: 0 0;
    position: absolute;
    left: 0;
    top: 0;
  }
}
.earth-emoticon--explanation{
  display: none;
}
.earth-emoticon--animation{
  width: 2000px;
  height: 500px;
  transform: translate3D(0px, 0px, 0);
  animation: hoverAnimation 2000ms alternate infinite cubic-bezier(0.5, 0, 0.5, 1);
  position: relative;
  margin-top: -100px;
  &:after,
  &:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  };
  &:after{
    animation: earthAnimation 5000ms steps(4) infinite;
    backface-visibility: hidden;
  }
  &.earth-emoticon--hands{
    position: relative;
    &:before{
      transform-origin: 10% 80%;
      animation: earthHandsAnimation 2000ms alternate infinite;
    }
  }
}
.earth-emoticon--angry{
  margin-top: 45px;
  margin-bottom: -10px;
  &:after{
    background: url("../svg/angryearth.svg") no-repeat;
  }
  &.earth-emoticon--hands:before{
    background: url("../svg/angryhands.svg") no-repeat;
  }
}
.earth-emoticon--happy{
  &:after{
    background: url("../svg/happyearth.svg") no-repeat;
  }
  &.earth-emoticon--hands:before{
    background: url("../svg/happyhands.svg") no-repeat;
  }
}
.earth-emoticon--sick{
  &:after{
    background: url("../svg/sickearth.svg") no-repeat;
  }
  &.earth-emoticon--hands:before{
    background: url("../svg/sickhands.svg") no-repeat;
  }
}
.earth-emoticon--worried{
  &:after{
    background: url("../svg/worriedearth.svg") no-repeat;
  }
  &.earth-emoticon--hands:before{
    background: url("../svg/worriedhands.svg") no-repeat;
  }
}
.earth-emoticon--shocked{
  &:after{
    background: url("../svg/shockedearth.svg") no-repeat;
  }
  &.earth-emoticon--hands:before{
    background: url("../svg/shockedhands.svg") no-repeat;
  }
}

@keyframes earthAnimation {
  0%, 95% { background-position: 0px 0 } 
  100% { background-position: -2000px 0 }
}
@keyframes earthHandsAnimation {
  0% { 
    transform: rotate(-5deg)
  } 
  100% {
    transform: rotate(5deg)
  } 
}
