.social-media{
  background-color: $accent-color;
  .content__lead{
    background-color: $dark-accent-color;
  }
  .earth-status__text{
    color: $white;
    text-align: center;
  }
  h2{
    color: $white;
  }
}