.btn {
  display: inline-block;
  padding: 10px 30px;
  background-color: $accent-color;
  text-transform: uppercase;
  letter-spacing: 1px;
  @include mdShadowLevel(1);
  @include font-size(18px);
  border-radius: 2px;
  transition: all 0.3s;

  &:hover {
    @include mdShadowLevel(2);
    background-color: lighten( $accent-color, 5% )
  }
  &:active{
    @include mdShadowLevel(0);
  }
}

.btn--small {
  padding: 10px 15px;
  @include font-size(16px);
}

.btn--spotify {
  padding: 10px 15px 10px 55px;
  background-image: url('../svg/spotify.svg');
  background-repeat: no-repeat;
  background-position: 10px 6px;
  background-size: 30px 30px;

  &:hover {
    background-size: 30px 30px;
    background-position: 10px 6px;
  }
}

.btn--why {
  padding: 10px 55px 10px 15px;
  background-image: url('../svg/arrows.svg');
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) 6px;
  background-size: 30px 30px;

  &:hover {
    background-size: 30px 30px;
    background-position: 10px 6px;
  }
}