.btn {
  display: inline-block;
  padding: 10px 30px;
  background: $accent-color;
  text-transform: uppercase;
  letter-spacing: 1px;
  @include mdShadowLevel(1);
  @include font-size(18px);
  border-radius: 2px;
  transition: all 0.3s;

  &:hover {
    @include mdShadowLevel(2);
    background: lighten( $accent-color, 5% )
  }
}

.btn--small {
  padding: 10px 15px;
  @include font-size(16px);
}