.news{
  background-color: $primary-color;
  .content__lead{
    p{
      text-align: left;
      max-width: none;
      margin-left: 5em;
    }
  }

  h2,
  p{
    color: $white;
  }
  p{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  .layout__item--full{
  }
  .intro-text{
    
    margin: 50px 0 0;
  }
}