.overview {
  background: $primary-color;

  .layout__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    align-items: center;
  }
}

.country-selection {
  
  p {
    text-align: center;
  }
}

.overview__heading {
  text-align: center;
  color: $white;
}

.overview--worried {
  background: 
    linear-gradient(to top, rgba(19,106,138,0.5), rgba(38,120,113,0.5)),
    url('../images/worried-bg.jpg') no-repeat;
}