.content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 15px 0;
}

.content__lead {
  margin: 0;
  padding: 30px 0;
  text-align: center;
  color: $white;
  background-color: $dark-primary-color;
  @include font-size(28px);
}