.page-head {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100px;
  background: $dark-primary-color;
  @include mdShadowLevel(1);
  z-index: 1000;
  transition: all 0.3s;
}

.headroom--unpinned {
  opacity: 0;
}

.headroom--not-top {
  //height: 40px;
}