$dark-primary-color: #1976D2;
$primary-color: #2196F3;
$light-primary-color: #BBDEFB;
$accent-color: #4CAF50;
$primary-text: #212121;
$secondary-text: #727272;
$divider-color: #B6B6B6;

$spacing-unit: 10px;