$white: #ffffff;
$dark-primary-color: #1976D2;
$primary-color: #2196F3;
$light-primary-color: #BBDEFB;
$accent-color: #4CAF50;
$primary-text-color: #212121;
$secondary-text-color: #727272;
$divider-color: #B6B6B6;

$spacing-unit: 10px;

@import url(https://fonts.googleapis.com/css?family=Raleway:600|Cabin|Lato:300);
$heading-font:'Raleway', sans-serif;
$secondary-font: 'Lato', sans-serif;
$primary-font: 'Cabin', sans-serif;