doctype html

html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title 
    meta(name="description", content="")
    meta(name="author", content="author")
    meta(name="viewport", content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/main.css')
    
    // Place favicon.ico and apple-touch-icon(s) in the root directory.
    // Generate new ones, unless your client is Bruce Wayne, in which case move along.
    // http://www.favicomatic.com      
    link(rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png")
    link(rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32")
    link(rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16")
    meta(name="application-name" content="&nbsp;")
    meta(name="msapplication-TileColor" content="#000000")
    meta(name="msapplication-TileImage" content="mstile-144x144.png")

  body
    header.page-head
      nav.page-nav
        ul.page-nav__list
          li.page-nav__item
            a(href="#overview" class="page-nav__link") Overview
          li.page-nav__item
            a(href="#nasa" class="page-nav__link") NASA Data
          li.page-nav__item
            a(href="#social" class="page-nav__link") Social Media
          li.page-nav__item
            a(href="#news" class="page-nav__link") News
    
    section#overview.container.overview
      div.content
        h1 Earth Overview
        div.layout
          p Search (Country)
          p Large Emoticon
          p Earth's emotional status
          p Spotify Playlist

    section#nasa.container.nasa
      div.content
        h1 NASA Data
        p Rainfall
        p Temperature
        p Natural Disaster Alert/Status
    
    section#social.container.social-media
      div.content
        h1 Social Media
        p #globalwarming #climatechange etc... 

    section#news.container.news
      div.content
        h1 News
        p Google News thing...

    footer
  
  script(src="js/vendor.js")
  script(src="js/main.js")